﻿@using GeneralFramework.BLL
@using GeneralFramework.ViewModel
@using GeneralFramework.Model
@using Newtonsoft.Json
@{
    Layout = null;
}

<!DOCTYPE html>
<html class="app-ui">
<head>
    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <!-- Document title -->
    <title>Tables &ndash; Styles</title>
    <meta name="description" content="AppUI - Admin Dashboard Template & UI Framework" />
    <meta name="author" content="rustheme" />
    <meta name="robots" content="noindex, nofollow" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="~/Areas/Web/Common/assets/img/favicons/apple-touch-icon.png" />
    <link rel="icon" href="~/Areas/Web/Common/assets/img/favicons/favicon.ico" />
    <!-- Google fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,900%7CRoboto+Slab:300,400%7CRoboto+Mono:400" />
    <!-- AppUI CSS stylesheets -->
    <link rel="stylesheet" id="css-font-awesome" href="~/Areas/Web/Common/assets/css/font-awesome.css" />
    <link rel="stylesheet" id="css-ionicons" href="~/Areas/Web/Common/assets/css/ionicons.css" />
    <link rel="stylesheet" id="css-bootstrap" href="~/Areas/Web/Common/assets/css/bootstrap.css" />
    <link rel="stylesheet" id="css-app" href="~/Areas/Web/Common/assets/css/app.css" />
    <link rel="stylesheet" id="css-app-custom" href="~/Areas/Web/Common/assets/css/app-custom.css" />
    <link href="~/Areas/Web/Common/style/jquery-ui.css" rel="stylesheet" />
    <!-- End Stylesheets -->
</head>
<body class="app-ui layout-has-drawer layout-has-fixed-header">
    <div class="container-fluid p-y-md" style="padding-top:0px">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="card">
                    <div class="card-header bg-success" style="border-bottom:1px solid #efefef">
                        <h4>系统日志</h4>
                        <ul class="card-actions">

                           
                        </ul>
                    </div>
                    <div class="card-block">
                        <div class="col-md-12" style="padding-bottom:10px;">
                            <div class="input-group input-group-lg">
                                <input class="form-control" id="keyWords" type="text" placeholder="目前只支持方法名检索" />
                                <div class="input-group-btn">
                                    <button class="btn btn-app" id="serach" onclick="search()"><i class="ion-ios-search-strong"></i></button>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 100px">关键ID</th>
                                        <th style="width: 100px">方法名</th>
                                        <th style="width:100px">日志类型</th>
                                        <th style="width:100px">Tags</th>
                                        <th style="width: 100px">发生时间</th>
                                        <th style="width:50px">执行时间</th>
                                    </tr>
                                </thead>
                                <tbody id="logTable">
                                    <tr>
                                        <td colspan="6">loading data....</td>
                                    </tr>
                                </tbody>
                            </table>
                            <script id="templateTable" type="x-templ-mustache">
                                {{#entity}}
                                <tr data-id="{{id}}">
                                    <td class="btn_logDetail" onclick="details('{{id}}')"><a>{{objectId}}</a></td>
                                    <td>{{methodName}}</td>
                                    <td>{{typeName}}</td>
                                    <td class="{{tags}}">{{tags}}</td>
                                    <td>{{createdOn}}</td>
                                    <td>{{duration}}</td>
                                </tr>
                                {{/entity}}
                            </script>
                        </div>
                        <div style="clear:both;text-align:center">
                            <nav aria-label="Page navigation">
                                <div class="pagination">
                                    <div id="number-page" style="text-align: center;"></div>
                                    <div class="totalPages">总页数<span id="totalPagesCounter" style="margin-right:20px;" data-bind="text:totalPages">0</span>总记录<span id="totalRecords" data-bind="text:totalRecords">0</span></div>
                                </div>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div id="detailsModal" class="modal fade" role="dialog">
        <div class="modal-sm modal-dialog modal-dialog-top" style="width:900px">
            <div class="modal-content">
                <div>
                    <div class="card-header bg-success" style="border-bottom:1px solid #efefef">
                        <h4>日志数据</h4>

                    </div>
                    <div class="card-block">
                        <div class="card-block tab-content">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card-block">
                                        <form class="form-horizontal m-t-xs">

                                            <div class="form-group">
                                                <label class="col-xs-12" for="contact1-subject">发生事件</label>
                                                <div class="col-xs-12">
                                                    <input class="form-control" type="text" id="createTime" name="createTime" placeholder="" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-xs-12" for="contact1-subject">方法名</label>
                                                <div class="col-xs-12">
                                                    <input class="form-control" type="text" id="methodName" name="methodName" placeholder="" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-xs-12" for="contact1-msg">请求内容</label>
                                                <div class="col-xs-12">
                                                    <textarea class="form-control" id="requestContent" name="requestContent" rows="7" placeholder=""></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-xs-12" for="contact1-msg">返回内容</label>
                                                <div class="col-xs-12">
                                                    <textarea class="form-control" id="responseContent" name="responseContent" rows="7" placeholder=""></textarea>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                   
                            </div>
                        </div>
                      
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="~/Areas/Web/Common/assets/js/core/jquery.min.js"></script>
    <script src="~/Areas/Web/Common/jquery/boot-pagination.js"></script>
    <script src="~/Areas/Web/Common/assets/js/core/bootstrap.min.js"></script>
    <script src="~/Areas/Web/Common/assets/js/core/jquery.slimscroll.min.js"></script>
    <script src="~/Areas/Web/Common/assets/js/core/jquery.scrollLock.min.js"></script>
    <script src="~/Areas/Web/Common/assets/js/core/jquery.placeholder.min.js"></script>
    <script src="~/Areas/Web/Common/assets/js/app.js"></script>
    <script src="~/Areas/Web/Common/assets/js/app-custom.js"></script>
    <script src="~/Areas/Web/Common/jquery/jquery.nicescroll.min.js"></script>
    <script src="~/Areas/Web/Common/jquery/mustache.min.js"></script>
    <script src="~/Areas/Web/Common/jquery/jquery-ui.js"></script>
   
    <script>
        var filter = {};
        filter.pageSize = 20;
        filter.pageIndex = 1;
        function createPagination(totalPage) {
            $('#number-page').off().empty();
            $('#number-page').bootpag({
                total: totalPage,
                maxVisible: 10,
                page: filter.pageIndex,
                firstLastUse: true,
                next: '>',
                prev: '<',
                first: '<<',
                last: '>>'
            })
            .on("page", function (event, num) {
                filter.pageIndex = num;
                loadData();
            });
            $('#number-page').find("li").removeClass("active");
            if (filter.pageIndex != 1) {
                $('#number-page').find("li[data-lp='" + filter.pageIndex + "']").first().addClass("active");
            } else {
                $('#number-page').find("li[data-lp='" + filter.pageIndex + "']").last().addClass("active");
            }
        }
        function search() {
            filter.pageIndex = 1;
            filter.Keywords = $("#keyWords").val();
            loadData();
        }
        function loadData() {
            $.post("/api/logs/query", filter, function (rel) {
                if (rel) {
                    if (rel.isSuccess) {
                        if (rel.entity) {
                            createPagination(rel.pagination.pageCount);
                            $("#totalPagesCounter").html(rel.pagination.pageCount);
                            $("#totalRecords").html(rel.pagination.totalRecords);
                            var template = $("#templateTable").html();
                            Mustache.parse(template);
                            var rendered = Mustache.render(template, rel);
                            $("#logTable").html(rendered);
                        }
                    } else {
                        alert(rel.errorMessage);
                    }
                } else {
                    alert("unknown error!");
                }
            }).fail(function (ex) { });
        }
        function details(id) {
            
            $("#detailsModal").modal('show');
            var url = "/api/logs/details/" + id;

            $.get(url, null, function (rel) {
                if (rel) {
                    if (rel.isSuccess) {
                        if (rel.entity) {
                            $("#createTime").val(rel.entity.createdOn);
                            $("#methodName").val(rel.entity.methodName);
                            $("#requestContent").val(rel.entity.requestContent);
                            $("#responseContent").val(rel.entity.responseContent);
                        }
                    } else {
                        alert(rel.errorMessage)
                    }
                } else {
                    alert("unknown error!")
                }

            }).done(function (data) { })
                .fail(function (ex) { });

        }
        search();
    </script>
</body>
</html>