﻿
.buttonManage{
    float: none;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}
.glyphicon{
    padding-right: 10px;
}
.wrapper-tree{
    float: none;
    margin: auto;
    margin-top: 30px;
    height: 88%;
    border: 1px solid #ccc;
    border-radius: 8px;
    color: #6d6c6c;
    overflow: auto;
}
.jstree-default .jstree-wholerow-clicked{
    background: #f5f5f5;
}
.jstree-default .jstree-wholerow-hovered{
    background: #f9f9f9;
}
.ui-front{
    z-index: 9999999 !important;
}
