﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html class="app-ui">
<head>
    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <!-- Document title -->
    <title>Dashboard</title>
    <meta name="description" content="AppUI - Admin Dashboard Template & UI Framework" />
    <meta name="author" content="rustheme" />
    <meta name="robots" content="noindex, nofollow" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="~/Areas/Web/Common/assets/img/favicons/apple-touch-icon.png" />
    <link rel="icon" href="assets/img/favicons/favicon.ico" />
    <!-- Google fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,900%7CRoboto+Slab:300,400%7CRoboto+Mono:400" />
    <!-- Page JS Plugins CSS -->
    <link rel="stylesheet" href="~/Areas/Web/Common/assets/js/plugins/slick/slick.min.css" />
    <link rel="stylesheet" href="~/Areas/Web/Common/assets/js/plugins/slick/slick-theme.min.css" />
    <!-- AppUI CSS stylesheets -->
    <link rel="stylesheet" id="css-font-awesome" href="~/Areas/Web/Common/assets/css/font-awesome.css" />
    <link rel="stylesheet" id="css-ionicons" href="~/Areas/Web/Common/assets/css/ionicons.css" />
    <link rel="stylesheet" id="css-bootstrap" href="~/Areas/Web/Common/assets/css/bootstrap.css" />
    <link rel="stylesheet" id="css-app" href="~/Areas/Web/Common/assets/css/app.css" />
    <link rel="stylesheet" id="css-app-custom" href="~/Areas/Web/Common/assets/css/app-custom.css" />
    <!-- End Stylesheets -->
</head>
<body class="app-ui layout-has-drawer layout-has-fixed-header">
    <div class="container-fluid p-y-md" style="padding-top:0px">
        <!-- Stats -->
        
  
        <div class="row">
            <!-- Developer Plan -->
            <div class="col-sm-6 col-lg-3">
                <a class="card hover-shadow-3 text-center" href="javascript:void(0)">
                    <div class="card-header">
                        <h4 class="h4">故障报修</h4>
                    </div>
                    <div class="card-block card-block-full bg-cyan bg-inverse">
                        <div class="h1 m-y-sm">10/条</div>
                        @*<div class="h5 font-300 text-muted m-t-0">per month</div>*@
                    </div>
                    
                    <div class="card-block card-block-mini card-block-full bg-gray-lighter-o">
                        <span class="btn btn-info">查看</span>
                    </div>
                </a>
            </div>
            <!-- .col-sm-6 -->
            <!-- End Developer Plan -->
            <!-- Startup Plan -->
            <div class="col-sm-6 col-lg-3">
                <a class="card hover-shadow-3 text-center" href="javascript:void(0)">
                    <div class="card-header">
                        <h4 class="h4">公文流转</h4>
                    </div>
                    <div class="card-block card-block-full bg-blue bg-inverse">
                        <div class="h1 m-y-sm">20/条</div>
                    </div>
                    
                    <div class="card-block card-block-mini card-block-full bg-gray-lighter-o">
                        <span class="btn btn-app-blue">查看</span>
                    </div>
                </a>
            </div>
            <!-- .col-sm-6 -->
            <!-- End Startup Plan -->
            <!-- Business Plan -->
            <div class="col-sm-6 col-lg-3">
                <a class="card hover-shadow-3 text-center" href="javascript:void(0)">
                    <div class="card-header">
                        <h4 class="h4">人事审核</h4>
                    </div>
                    <div class="card-block card-block-full bg-purple bg-inverse">
                        <div class="h1 m-y-sm">30/条</div>
                    </div>
                    
                    <div class="card-block card-block-mini card-block-full bg-gray-lighter-o">
                        <span class="btn btn-app-purple">查看</span>
                    </div>
                </a>
            </div>
            <!-- .col-sm-6 -->
            <!-- End Business Plan -->
            <!-- Premium Plan -->
            <div class="col-sm-6 col-lg-3">
                <a class="card hover-shadow-3 text-center" href="javascript:void(0)">
                    <div class="card-header">
                        <h4 class="h4">物资审核</h4>
                    </div>
                    <div class="card-block bg-green bg-inverse">
                        <div class="h1 m-y-sm">40/条</div>
                    </div>
                    
                    <div class="card-block card-block-mini card-block-full bg-gray-lighter-o">
                        <span class="btn btn-app">查看</span>
                    </div>
                </a>
            </div>
            <!-- .col-sm-6 -->
            <!-- End Premium Plan -->
        </div>
        <!-- .row -->
        <div class="row">
            <div class="col-lg-4">
                <!-- Notifications Widget -->
                <div class="card">
                    <div class="card-header">
                        <h4>Notifications</h4>
                        <ul class="card-actions">
                            <li>
                                <button type="button" data-toggle="card-action" data-action="fullscreen_toggle"></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="card-action" data-action="refresh_toggle" data-action-mode="demo"><i class="ion-android-refresh"></i></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="card-action" data-action="content_toggle"></button>
                            </li>
                        </ul>
                    </div>
                    <div class="card-block">
                        <div class="pull-r-l pull-t m-b">
                            <table class="card-table text-center bg-gray-lighter-o b-b">
                                <tbody>
                                    <tr class="row">
                                        <td class="col-xs-6 b-r">
                                            <p class="h1">5</p>
                                            <p class="h6 text-muted m-t-0">New Notifications</p>
                                        </td>
                                        <td class="col-xs-6">
                                            <i class="ion-android-notifications fa-3x text-muted"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <p><i class="ion-checkmark m-r-xs"></i><a class="alert-link" href="javascript:void(0)">App</a> was updated successfully!</p>
                        </div>
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <p><i class="ion-checkmark m-r-xs"></i>Database was checked! No errors found.</p>
                        </div>
                        <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <p><i class="ion-ios-information-outline m-r-xs"></i> Just an informational <a class="alert-link" href="javascript:void(0)">message</a>!</p>
                        </div>
                    </div>
                </div>
                <!-- End Notifications Widget -->
            </div>
            <!-- .col-lg-4 -->
            <div class="col-lg-4">
                <!-- Notifications Widget -->
                <div class="card">
                    <div class="card-header">
                        <h4>Notifications</h4>
                        <ul class="card-actions">
                            <li>
                                <button type="button" data-toggle="card-action" data-action="fullscreen_toggle"></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="card-action" data-action="refresh_toggle" data-action-mode="demo"><i class="ion-android-refresh"></i></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="card-action" data-action="content_toggle"></button>
                            </li>
                        </ul>
                    </div>
                    <div class="card-block">
                        <div class="pull-r-l pull-t m-b">
                            <table class="card-table text-center bg-gray-lighter-o b-b">
                                <tbody>
                                    <tr class="row">
                                        <td class="col-xs-6 b-r">
                                            <p class="h1">5</p>
                                            <p class="h6 text-muted m-t-0">New Notifications</p>
                                        </td>
                                        <td class="col-xs-6">
                                            <i class="ion-android-notifications fa-3x text-muted"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <p><i class="ion-checkmark m-r-xs"></i><a class="alert-link" href="javascript:void(0)">App</a> was updated successfully!</p>
                        </div>
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <p><i class="ion-checkmark m-r-xs"></i>Database was checked! No errors found.</p>
                        </div>
                        <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <p><i class="ion-ios-information-outline m-r-xs"></i> Just an informational <a class="alert-link" href="javascript:void(0)">message</a>!</p>
                        </div>
                    </div>
                </div>
                <!-- End Notifications Widget -->
            </div>
            <!-- .col-lg-4 -->
            <div class="col-lg-4">
                <!-- Notifications Widget -->
                <div class="card">
                    <div class="card-header">
                        <h4>Notifications</h4>
                        <ul class="card-actions">
                            <li>
                                <button type="button" data-toggle="card-action" data-action="fullscreen_toggle"></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="card-action" data-action="refresh_toggle" data-action-mode="demo"><i class="ion-android-refresh"></i></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="card-action" data-action="content_toggle"></button>
                            </li>
                        </ul>
                    </div>
                    <div class="card-block">
                        <div class="pull-r-l pull-t m-b">
                            <table class="card-table text-center bg-gray-lighter-o b-b">
                                <tbody>
                                    <tr class="row">
                                        <td class="col-xs-6 b-r">
                                            <p class="h1">5</p>
                                            <p class="h6 text-muted m-t-0">New Notifications</p>
                                        </td>
                                        <td class="col-xs-6">
                                            <i class="ion-android-notifications fa-3x text-muted"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <p><i class="ion-checkmark m-r-xs"></i><a class="alert-link" href="javascript:void(0)">App</a> was updated successfully!</p>
                        </div>
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <p><i class="ion-checkmark m-r-xs"></i>Database was checked! No errors found.</p>
                        </div>
                        <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <p><i class="ion-ios-information-outline m-r-xs"></i> Just an informational <a class="alert-link" href="javascript:void(0)">message</a>!</p>
                        </div>
                    </div>
                </div>
                <!-- End Notifications Widget -->
            </div>
            <!-- .col-lg-4 -->
        </div>
        <!-- .row -->
    </div>

    <div class="app-ui-mask-modal"></div>
    <!-- AppUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock and App.js -->
    <script src="~/Areas/Web/Common/assets/js/core/jquery.min.js"></script>
    <script src="~/Areas/Web/Common/assets/js/core/bootstrap.min.js"></script>
    <script src="~/Areas/Web/Common/assets/js/core/jquery.slimscroll.min.js"></script>
    <script src="~/Areas/Web/Common/assets/js/core/jquery.scrollLock.min.js"></script>
    <script src="~/Areas/Web/Common/assets/js/core/jquery.placeholder.min.js"></script>
    <script src="~/Areas/Web/Common/assets/js/app.js"></script>
    <script src="~/Areas/Web/Common/assets/js/app-custom.js"></script>
    <!-- Page Plugins -->
    <script src="~/Areas/Web/Common/assets/js/plugins/slick/slick.min.js"></script>
    <script src="~/Areas/Web/Common/assets/js/plugins/chartjs/Chart.min.js"></script>
    <script src="~/Areas/Web/Common/assets/js/plugins/flot/jquery.flot.min.js"></script>
    <script src="~/Areas/Web/Common/assets/js/plugins/flot/jquery.flot.pie.min.js"></script>
    <script src="~/Areas/Web/Common/assets/js/plugins/flot/jquery.flot.stack.min.js"></script>
    <script src="~/Areas/Web/Common/assets/js/plugins/flot/jquery.flot.resize.min.js"></script>
    <!-- Page JS Code -->
    <script src="~/Areas/Web/Common/assets/js/pages/index.js"></script>
    <script>
            $(function()
            {
                // Init page helpers (Slick Slider plugin)
                App.initHelpers('slick');
            });
    </script>
</body>
</html>
