﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link href="~/Areas/Web/Common/assets/login/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Areas/Web/Common/assets/login/style.default.css" rel="stylesheet" id="theme-stylesheet">
</head>
<body>
    <div class="page login-page">
        <div class="container d-flex align-items-center">
            <div class="form-holder has-shadow" style="width:50%">
                <div class="row">
                    <!-- Logo & Information Panel-->
                    @*<div class="col-lg-6">
                        <div class="info d-flex align-items-center">
                            <div class="content">
                                <div class="logo">
                                    <h1>Dashboard</h1>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                        </div>
                    </div>*@
                    <!-- Form Panel    -->
                    <div class="col-lg-12 bg-white">
                        <div class="form d-flex align-items-center">
                            <div class="content">
                                <div class="form-group">
                                    <h5>上海地铁第三运营有限公司办公平台</h5>
                                </div>
                                <form method="post" class="form-validate">
                                    <div class="form-group">
                                        <input id="txtUsername" type="text" name="txtUsername" required data-msg="Please enter your username" class="input-material" autocomplete="off" placeholder="账号">
                                        <label for="login-username" class="label-material"></label>
                                    </div>
                                    <div class="form-group">
                                        <input id="txtPassword" type="password" name="txtPassword" required data-msg="Please enter your password" class="input-material" autocomplete="off" placeholder="密码">
                                        <label for="login-password" class="label-material"></label>
                                    </div><a  class="btn btn-primary" id="LoginButton" tabindex="4" onclick="ValidateSignin();">登录</a>
                                    <!-- This should be submit button but I replaced it with <a> for demo purposes-->
                                </form>@*<a href="#" class="forgot-pass">Forgot Password?</a><br><small>Do not have an account? </small><a href="register.html" class="signup">Signup</a>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyrights text-center">
            <p>
                Design by <a href="#" class="external">Bootstrapious</a>
                <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
            </p>
        </div>
    </div>
    <script src="~/Areas/Web/Common/jquery/jquery-1.10.2.min.js"></script>
    <script src="~/Areas/Web/Common/js/Util.js"></script>
    <script src="~/Areas/Web/Common/js/cookie.js"></script>
    <script>

        function ValidateSignin() {

            var _val = true;
            var _msg = "";
            if ($("#txtUsername").val() == "") {
                _val = false;
                _msg += "Username is required!\r\n\n";
                document.getElementById("txtUsername").focus();
            }
            if ($("#txtPassword").val() == "") {
                _val = false;
                _msg += "Password is required!\r\n\n";
                document.getElementById("txtPassword").focus();
            }

            if (!_val) {
                alert(_msg);
                return false;
            }


            userValidation();
            return true;
        }

        function userValidation() {
            var param = {};
            param.username = $('#txtUsername').val();
            param.password = $('#txtPassword').val();
            param.isEnableCookies = $('#rememberMe').prop('checked');

            $.post("/api/systemuser/login", param, function (rel) {

                if (rel) {
                    if (rel.isSuccess) {
                        if (rel.entity) {


                            $.ajax({
                                async: true,
                                url: appendOrgName("/api/systemuser/info"),
                                crossDomain: true,
                                type: "GET",
                                success: function (responseData, textStatus, jqXHR) {
                                    setCookie("CLIENT_K3", responseData.entity.clientCookieValue, 1);
                                    window.location.href = '/Web/';
                                    console.log("success");
                                },
                                error: function (responseData, textStatus, errorThrown) {
                                    console.log("error");
                                }
                            })
                            .done(function (data) {
                                console.log("done");
                            });
                        }
                    } else {
  
                        alert('登录失败');
               
                    }
                } else {
                    alert('登录失败');
                }
            }).fail(function (ex) { });
        }
    </script>
</body>
</html>