﻿@using GeneralFramework.BLL
@using GeneralFramework.ViewModel
@using GeneralFramework.Model
@using Newtonsoft.Json
@{
    Layout = null;
}

<!DOCTYPE html>
<html class="app-ui">
<head>
    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <!-- Document title -->
    <title>Tables &ndash; Styles</title>
    <meta name="description" content="AppUI - Admin Dashboard Template & UI Framework" />
    <meta name="author" content="rustheme" />
    <meta name="robots" content="noindex, nofollow" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="~/Areas/Web/Common/assets/img/favicons/apple-touch-icon.png" />
    <link rel="icon" href="~/Areas/Web/Common/assets/img/favicons/favicon.ico" />
    <!-- Google fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,900%7CRoboto+Slab:300,400%7CRoboto+Mono:400" />
    <!-- AppUI CSS stylesheets -->
    <link rel="stylesheet" id="css-font-awesome" href="~/Areas/Web/Common/assets/css/font-awesome.css" />
    <link rel="stylesheet" id="css-ionicons" href="~/Areas/Web/Common/assets/css/ionicons.css" />
    <link rel="stylesheet" id="css-bootstrap" href="~/Areas/Web/Common/assets/css/bootstrap.css" />
    <link rel="stylesheet" id="css-app" href="~/Areas/Web/Common/assets/css/app.css" />
    <link rel="stylesheet" id="css-app-custom" href="~/Areas/Web/Common/assets/css/app-custom.css" />
    <link href="~/Areas/Web/Common/style/jquery-ui.css" rel="stylesheet" />
    <!-- End Stylesheets -->
</head>
<body class="app-ui layout-has-drawer layout-has-fixed-header">
    <div class="container-fluid p-y-md" style="padding-top:0px">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="card">
                    <div class="card-header bg-success" style="border-bottom:1px solid #efefef">
                        <h4>公司信息</h4>
                        <ul class="card-actions">
                            <button class="btn btn-xs btn-app-teal-outline" type="button" id="addModal">新增</button>

                        </ul>
                    </div>
                    <div class="card-block">
                        <div class="col-md-12" style="padding-bottom:10px;">
                            <div class="input-group input-group-lg">
                                <input class="form-control" id="keyWords" type="text" placeholder="关键字.." />
                                <div class="input-group-btn">
                                    <button class="btn btn-app"><i class="ion-ios-search-strong"></i></button>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>公司名称</th>
                                        <th>公司电话</th>
                                        <th>公司地址</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody id="gridList">
                                    <tr>
                                        <td colspan="6">loading data....</td>
                                    </tr>
                                </tbody>
                            </table>
                            <script id="template" type="x-tmpl-mustache">
                                {{#entity}}
                                <tr>
                                    <td style="min-width: 100px;">{{coName}}</td>
                                    <td style="min-width: 100px;">{{coTelephone}}</td>
                                    <td style="min-width: 80px;">{{coAddress}}</td>


                                    <td style="min-width: 90px;">
                                        <button class="btn btn-xs btn-app-teal-outline" type="button" onclick="listObj.updateFun('{{id}}')">编辑</button>
                                    </td>
                                </tr>
                                {{/entity}}
                            </script>

                        </div>
                        <div style="clear:both;text-align:center">
                            <nav aria-label="Page navigation">
                                <div class="pagination">
                                    <div id="number-page" style="text-align: center;"></div>
                                    <div class="totalPages">总页数<span id="totalPagesCounter" style="margin-right:20px;" data-bind="text:totalPages">0</span>总记录<span id="totalRecords" data-bind="text:totalRecords">0</span></div>
                                </div>
                            </nav>
                        </div>
                    </div>
                    </div>

                </div>
            </div>
        <div id="add" class="modal fade" role="dialog">
            <div class="modal-sm modal-dialog modal-dialog-top" style="width:800px">
                <div class="modal-content">
                    <div>
                        <div class="card-header bg-success" style="border-bottom:1px solid #efefef">
                            <h4>公司信息</h4>

                        </div>
                        <div class="card-block">
                            <form action="base_forms_elements.html" method="post" onsubmit="return false;">
                               
                                <div class="form-group">
                                    <label for="example-nf-email">公司名称</label>
                                    <input type="text" class="form-control" placeholder="" id="CompanyName">
                                </div>
                                <div class="form-group">
                                    <label for="example-nf-password">公司电话</label>
                                    <input type="text" class="form-control" placeholder="" id="CompanyPhone">
                                </div>
                                <div class="form-group">
                                    <label for="example-nf-password">公司地址</label>
                                    <input type="text" class="form-control" placeholder="" id="CompanyLocation">
                                </div>
                                <div class="form-group m-b-0">
                                    <button class="btn btn-app" type="submit" id="save_btn">保存</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
    

        <script src="~/Areas/Web/Common/assets/js/core/jquery.min.js"></script>
        <script src="~/Areas/Web/Common/jquery/boot-pagination.js"></script>
        <script src="~/Areas/Web/Common/assets/js/core/bootstrap.min.js"></script>
        <script src="~/Areas/Web/Common/assets/js/core/jquery.slimscroll.min.js"></script>
        <script src="~/Areas/Web/Common/assets/js/core/jquery.scrollLock.min.js"></script>
        <script src="~/Areas/Web/Common/assets/js/core/jquery.placeholder.min.js"></script>
        <script src="~/Areas/Web/Common/assets/js/app.js"></script>
        <script src="~/Areas/Web/Common/assets/js/app-custom.js"></script>
        <script src="~/Areas/Web/Common/jquery/jquery.nicescroll.min.js"></script>
        <script src="~/Areas/Web/Common/jquery/mustache.min.js"></script>
        <script src="~/Areas/Web/Common/jquery/jquery-ui.js"></script>
        <script src="~/Areas/Web/Common/js/system/companyList.js"></script>


</body>
</html>