﻿@using GeneralFramework.BLL
@using GeneralFramework.ViewModel
@using GeneralFramework.Model
@using Newtonsoft.Json
@{
    Layout = null;
    var depts = ViewData["Dept"] as IEnumerable<System_DepartmentBase>;
    var deptOptions = depts.Select(c =>
    {
        return new Dictionary<string, object>()
                        {
            {"id",c.Id },
            {"deptName",c.DeptName }
                        };
    });
}

<!DOCTYPE html>
<html class="app-ui">
<head>
    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <!-- Document title -->
    <title>Dashboard</title>
    <meta name="description" content="AppUI - Admin Dashboard Template & UI Framework" />
    <meta name="author" content="rustheme" />
    <meta name="robots" content="noindex, nofollow" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="~/Areas/Web/Common/assets/img/favicons/apple-touch-icon.png" />
    <link rel="icon" href="~/Areas/Web/Common/assets/img/favicons/favicon.ico" />
    <!-- Google fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,900%7CRoboto+Slab:300,400%7CRoboto+Mono:400" />
    <!-- Page JS Plugins CSS -->
    <link rel="stylesheet" href="~/Areas/Web/Common/assets/js/plugins/slick/slick.min.css" />

    <link rel="stylesheet" href="~/Areas/Web/Common/assets/js/plugins/slick/slick-theme.min.css" />
    <!-- AppUI CSS stylesheets -->
    <link rel="stylesheet" id="css-font-awesome" href="~/Areas/Web/Common/assets/css/font-awesome.css" />
    <link rel="stylesheet" id="css-ionicons" href="~/Areas/Web/Common/assets/css/ionicons.css" />
    <link rel="stylesheet" id="css-bootstrap" href="~/Areas/Web/Common/assets/css/bootstrap.css" />
    <link rel="stylesheet" id="css-app" href="~/Areas/Web/Common/assets/css/app.css" />
    <link rel="stylesheet" id="css-app-custom" href="~/Areas/Web/Common/assets/css/app-custom.css" />
    <link href="~/Areas/Web/Common/vendors/jstree/themes/default/style.min.css" rel="stylesheet" />
    <link href="~/Areas/Web/Common/style/jquery-ui.css" rel="stylesheet" />
    <style>
        .ui-autocomplete {
            z-index: 215000000 !important;
        }
    </style>
</head>
<body class="app-ui layout-has-drawer layout-has-fixed-header">
    <!-- Page Content -->
    <div class="container-fluid p-y-md" style="padding-top:0px">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="card">
                    <div class="card-header bg-success" style="border-bottom:1px solid #efefef">
                        <h4>部门信息</h4>
                        <ul class="card-actions">
                              <button class="btn btn-xs btn-app-teal-outline" type="button" onclick="addShow()">新增</button>
                        </ul>
                    </div>
                    <div class="card-block">
                        <p><div id="jstree_catalog" style="height: 100%; overflow-y: scroll"></div></p>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
    
    <div id="SettingModal" class="modal fade" role="dialog">
        <div class="modal-sm modal-dialog modal-dialog-top" style="width:800px">
            <div class="modal-content">
                <div>
                    <div class="card-header bg-success" style="border-bottom:1px solid #efefef">
                        <h4>部门信息</h4>

                    </div>
                    <div class="card-block">
                        <div class="card-block tab-content">
                            <div class="card">
                                <ul class="nav nav-tabs nav-tabs-icons nav-tabs-alt nav-justified" data-toggle="tabs">
                                    <li class="active">
                                        <a href="#btabs-alt-static-justified-home"><i class="ion-ios-gear modfiy"></i> </a>
                                    </li>
                                    <li class="depHidd">
                                        <a href="#btabs-alt-static-justified-profile" style="" id="remove" onclick="goOnRemove()"><i class="ion-ios-gear">删除</i> </a>
                                    </li>
                                    <li class="depHidd">
                                        <a href="#btabs-alt-static-justified-activity"><i class="ion-ios-gear">对应菜单</i> </a>
                                    </li>
                                   
                                </ul>
                                <div class="card-block tab-content">
                                    <div class="tab-pane active" id="btabs-alt-static-justified-home">
                                        <div class="tab-pane fade in active" id="profile-tab1">
                                            <form class="fieldset">
                                               
                                                <div class="form-group row">
                                                    <div class="col-xs-6">
                                                        <label for="dept_parent">所属</label>
                                                        <input type="text" class="form-control deptSelect" placeholder="" id="dept_parent">
                                                   
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <label for="dept_name">部门名称</label>
                                                        <input type="text" class="form-control" id="dept_name" />
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-xs-6">
                                                        <label for="dept_no">部门编号</label>
                                                        <input type="text" class="form-control" id="dept_no" />
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <label for="dept_gno">集团组织架构编号</label>
                                                        <input type="tel" class="form-control" id="dept_gno" />
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-xs-6">
                                                        <label for="dept_gname">集团组织架构名称</label>
                                                        <input type="email" class="form-control" id="dept_gname" />
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <label for="dept_mname">运管平台组织架构编号</label>
                                                        <input type="text" class="form-control" id="dept_mname" />
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-xs-6">
                                                        <label for="dept_email">部门邮箱</label>
                                                        <input type="text" class="form-control deptSelect" id="dept_email" />
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <label for="dept_fax">部门传真</label>
                                                        <input type="text" class="form-control jobSelect" id="dept_fax" />
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-xs-12">
                                                        <label for="dept_email">部门类型</label>
                                                        <select class="form-control" id="dept_type">
                                                            <option value="">-- Select --</option>
                                                            <option value="1">线路</option>
                                                            <option value="2">站点</option>
                                                            <option value="3">站区</option>
                                                            <option value="4">部室</option>
                                                            <option value="5">维修班组</option>
                                                            <option value="6">乘务班组</option>
                                                        </select>
                                                    </div>

                                                </div>

                                                <div class="row narrow-gutter" style="text-align:center;">
                                                    <div class="col-xs-6">
                                                        <button type="button" class="btn btn-default btn-block">取消</button>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <button type="button" class="btn btn-app btn-block" onclick="addNew()">保存</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                  
                                    <div class="tab-pane depHidd" id="btabs-alt-static-justified-activity" >
                                      
          

                                        <div class="tab-pane fade in active" id="profile-tab1">
                                            <form class="fieldset">

                                                <div class="form-group row">
                                                    <div class="col-xs-12">
                                                        <div class="col-md-12  wrapper-tree" style="overflow-y: scroll; margin-top:0px; border:none;height:100%;">
                                                            <div id="catalog_tree" style="height: auto;"></div>
                                                        </div>
                                                     

                                                    </div>
                                                   
                                                </div>
                                            

                                                <div class="row narrow-gutter" style="text-align:center;">
                                                    <div class="col-xs-6">
                                                        <button type="button" class="btn btn-default btn-block">取消</button>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <button type="button" class="btn btn-app btn-block" onclick="saveDeptMenu()">保存</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End Apps Modal -->
    <div class="app-ui-mask-modal"></div>
    <!-- AppUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock and App.js -->
    <script src="~/Areas/Web/Common/assets/js/core/jquery.min.js"></script>
    <script src="~/Areas/Web/Common/jquery/boot-pagination.js"></script>
    <script src="~/Areas/Web/Common/assets/js/core/bootstrap.min.js"></script>
    <script src="~/Areas/Web/Common/assets/js/core/jquery.slimscroll.min.js"></script>
    <script src="~/Areas/Web/Common/assets/js/core/jquery.scrollLock.min.js"></script>
    <script src="~/Areas/Web/Common/assets/js/core/jquery.placeholder.min.js"></script>
    <script src="~/Areas/Web/Common/assets/js/app.js"></script>
    <script src="~/Areas/Web/Common/assets/js/app-custom.js"></script>
    <script src="~/Areas/Web/Common/jquery/jquery.nicescroll.min.js"></script>
    <script src="~/Areas/Web/Common/jquery/mustache.min.js"></script>
    <script src="~/Areas/Web/Common/jquery/jquery-ui.js"></script>
    <script src="~/Areas/Web/Common/js/system/departmentList.js"></script>

    <script src="~/Areas/Web/Common/vendors/jstree/vakata.js"></script>
    <script src="~/Areas/Web/Common/vendors/jstree/jstree.min.js"></script>
    <script src="~/Areas/Web/Common/jquery/jquery.nicescroll.min.js"></script>
    @*<script src="~/Areas/Web/Common/vendors/jstree/docs.js"></script>*@
    <script src="~/Areas/Web/Common/vendors/jstree/jstree.checkbox.js"></script>
    <script>
        var deptOptions = @Html.Raw(JsonConvert.SerializeObject(deptOptions));
    </script>

   

</body>
</html>