﻿@using GeneralFramework.BLL
@using GeneralFramework.ViewModel
@using GeneralFramework.Model
@using Newtonsoft.Json
@{
    Layout = null;
    var depts = ViewData["Dept"] as IEnumerable<System_DepartmentBase>;
    var deptOptions = depts.Select(c =>
    {
        return new Dictionary<string, object>()
                                        {
            {"id",c.Id },
            {"deptName",c.DeptName }
                                        };
    });
    var companys = ViewData["Company"] as IEnumerable<System_CompanyBase>;
    var companyOptions = companys.Select(c =>
    {
        return new Dictionary<string, object>()
                                                {
            {"id",c.Id },
            {"companyName",c.CoName }
                                                };
    });
    var jobs = ViewData["Job"] as IEnumerable<System_JobBase>;
    var jobOptions = jobs.Select(c =>
    {
        return new Dictionary<string, object>()
                                                {
            {"id",c.Id },
            {"jobName",c.JobName }
                                                };
    });
}
<!DOCTYPE html>
<html class="app-ui">
<head>
    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <!-- Document title -->
    <title>Profile</title>
    <meta name="description" content="AppUI - Admin Dashboard Template & UI Framework" />
    <meta name="author" content="rustheme" />
    <meta name="robots" content="noindex, nofollow" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="~/Areas/Web/Common/assets/img/favicons/apple-touch-icon.png" />
    <link rel="icon" href="/img/assetsfavicons/favicon.ico" />
    <!-- Google fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,900%7CRoboto+Slab:300,400%7CRoboto+Mono:400" />
    <!-- AppUI CSS stylesheets -->
    <link rel="stylesheet" id="css-font-awesome" href="~/Areas/Web/Common/assets/css/font-awesome.css" />
    <link rel="stylesheet" id="css-ionicons" href="~/Areas/Web/Common/assets/css/ionicons.css" />
    <link rel="stylesheet" id="css-bootstrap" href="~/Areas/Web/Common/assets/css/bootstrap.css" />
    <link rel="stylesheet" id="css-app" href="~/Areas/Web/Common/assets/css/app.css" />
    <link href="~/Areas/Web/Common/style/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" id="css-app-custom" href="~/Areas/Web/Common/assets/css/app-custom.css" />
    <!-- End Stylesheets -->
</head>
<body class="app-ui layout-has-drawer layout-has-fixed-header">
    <div class="container-fluid p-y-md">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block tab-content">
                        <!-- Profile tab 1 -->
                        <div class="tab-pane fade in active" id="profile-tab1">
                            <form class="fieldset">
                                <h4 class="m-t-sm m-b">岗位信息编辑</h4>
                                <div class="form-group row">
                                    <div class="col-xs-6">
                                        <label for="txtParent">所属上级岗位</label>
                                        <input class="form-control jobSelect" type="text" id="txtParent" name="txtParent" placeholder="岗位名称" />
                                    </div>
                                    <div class="col-xs-6">
                                        <label for="txtJobName">岗位名称</label>
                                        <input class="form-control" type="text" id="txtJobName" name="txtJobName" placeholder="岗位名称" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-6">
                                        <label for="txtDept">所属部门</label>
                                        <input class="form-control deptSelect" type="text" id="txtDept" name="txtDept" placeholder="所属部门" />
                                    </div>
                                    <div class="col-xs-6">
                                        <label for="txtCompany">所属公司</label>
                                        <input class="form-control companySelect" type="text" id="txtCompany" name="txtCompany" placeholder="所属公司" />
                                    </div>
                                </div>
                               
                                <div class="row narrow-gutter" style="text-align:center;">
                                    <div class="col-xs-6">
                                        <button type="button" class="btn btn-default btn-block">取消</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button type="button" class="btn btn-app btn-block" onclick="addNew()">保存</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                    <!-- .card-block .tab-content -->
                </div>
                <!-- .card -->
            </div>
            <!-- .col-md-8 -->
        </div>
        <!-- .row -->
    </div>
    <!-- AppUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock and App.js -->
    <script src="~/Areas/Web/Common/assets/js/core/jquery.min.js"></script>
    <script src="~/Areas/Web/Common/assets/js/core/bootstrap.min.js"></script>
    <script src="~/Areas/Web/Common/assets/js/core/jquery.slimscroll.min.js"></script>
    <script src="~/Areas/Web/Common/assets/js/core/jquery.scrollLock.min.js"></script>
    <script src="~/Areas/Web/Common/assets/js/core/jquery.placeholder.min.js"></script>
    <script src="~/Areas/Web/Common/assets/js/app.js"></script>
    <script src="~/Areas/Web/Common/assets/js/app-custom.js"></script>
    <script src="~/Areas/Web/Common/jquery/jquery-ui.js"></script>
    <script src="~/Areas/Web/Common/js/Util.js"></script>
    <script>
        var deptOptions = @Html.Raw(JsonConvert.SerializeObject(deptOptions));
        var companyOptions = @Html.Raw(JsonConvert.SerializeObject(companyOptions));
        var jobOptions = @Html.Raw(JsonConvert.SerializeObject(jobOptions));
    </script>
    <script src="~/Areas/Web/Common/js/system/jobEditor.js"></script>
</body>
</html>