﻿@using GeneralFramework.BLL
@using GeneralFramework.ViewModel
@using GeneralFramework.Model
@{
    Layout = null;
}

<!DOCTYPE html>
<html class="app-ui">
<head>
    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <!-- Document title -->
    <title>Dashboard</title>
    <meta name="description" content="AppUI - Admin Dashboard Template & UI Framework" />
    <meta name="author" content="rustheme" />
    <meta name="robots" content="noindex, nofollow" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="~/Areas/Web/Common/assets/img/favicons/apple-touch-icon.png" />
    <link rel="icon" href="~/Areas/Web/Common/assets/img/favicons/favicon.ico" />
    <!-- Google fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,900%7CRoboto+Slab:300,400%7CRoboto+Mono:400" />
    <!-- Page JS Plugins CSS -->
    <link rel="stylesheet" href="~/Areas/Web/Common/assets/js/plugins/slick/slick.min.css" />

    <link rel="stylesheet" href="~/Areas/Web/Common/assets/js/plugins/slick/slick-theme.min.css" />
    <!-- AppUI CSS stylesheets -->
    <link rel="stylesheet" id="css-font-awesome" href="~/Areas/Web/Common/assets/css/font-awesome.css" />
    <link rel="stylesheet" id="css-ionicons" href="~/Areas/Web/Common/assets/css/ionicons.css" />
    <link rel="stylesheet" id="css-bootstrap" href="~/Areas/Web/Common/assets/css/bootstrap.css" />
    <link rel="stylesheet" id="css-app" href="~/Areas/Web/Common/assets/css/app.css" />
    <link rel="stylesheet" id="css-app-custom" href="~/Areas/Web/Common/assets/css/app-custom.css" />
    <link href="~/Areas/Web/Common/vendors/jstree/themes/default/style.min.css" rel="stylesheet" />
</head>
<body class="app-ui layout-has-drawer layout-has-fixed-header">
    <!-- Page Content -->
    <div class="container-fluid p-y-md" style="padding-top:0px">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="card">
                    <div class="card-header bg-success" style="border-bottom:1px solid #efefef">
                        <h4>目录信息</h4>
                        <ul class="card-actions">
                           
                            <button class="btn btn-xs btn-app-teal-outline" type="button" id="create">创建</button>
                            <button class="btn btn-xs btn-app-teal-outline" type="button" id="edit" onclick="modify()">修改</button>
                            <button class="btn btn-xs btn-app-teal-outline" type="button" id="remove" onclick="removed()">删除</button>
                        </ul>
                    </div>
                    <div class="card-block">
                        <p><div id="jstree_catalog" style="height: 100%; overflow-y: scroll"></div></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="add" class="modal fade" role="dialog">
        <div class="modal-sm modal-dialog modal-dialog-top" style="width:800px">
            <div class="modal-content">
                <div>
                    <div class="card-header bg-success" style="border-bottom:1px solid #efefef">
                        <h4>目录信息</h4>

                    </div>
                    <div class="card-block">
                        <form action="base_forms_elements.html" method="post" onsubmit="return false;">
                            <div class="form-group">
                                <label for="example-nf-email">所属目录</label>
                                <select class="form-control" id="ParentId">
                                    <option value="">-- Select --</option>
                                    @foreach (var catalog in ViewData["MenuParent"] as IEnumerable<System_MenuBase>)
                                    {
                                        <option value="@catalog.Id">@catalog.MenuName</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="example-nf-email">目录名称</label>
                                <input class="form-control" type="text" id="CatalogName" name="CatalogName" placeholder="目录名称" />
                            </div>
                            <div class="form-group">
                                <label for="example-nf-password">目录URL</label>
                                <input class="form-control" type="text" id="LinkUrl" name="LinkUrl" placeholder="目录URL" />
                            </div>
                            <div class="form-group m-b-0">
                                <button class="btn btn-app" type="submit" onclick="addNew();">保存</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End Apps Modal -->
    <div class="app-ui-mask-modal"></div>
    <!-- AppUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock and App.js -->
    <script src="~/Areas/Web/Common/assets/js/core/jquery.min.js"></script>

    <script src="~/Areas/Web/Common/assets/js/core/bootstrap.min.js"></script>
    <script src="~/Areas/Web/Common/assets/js/core/jquery.slimscroll.min.js"></script>
    <script src="~/Areas/Web/Common/assets/js/core/jquery.scrollLock.min.js"></script>
    <script src="~/Areas/Web/Common/assets/js/core/jquery.placeholder.min.js"></script>
    <script src="~/Areas/Web/Common/assets/js/app.js"></script>
    <script src="~/Areas/Web/Common/assets/js/app-custom.js"></script>

    <script src="~/Areas/Web/Common/vendors/jstree/vakata.js"></script>
    <script src="~/Areas/Web/Common/vendors/jstree/jstree.min.js"></script>
    <script src="~/Areas/Web/Common/jquery/jquery.nicescroll.min.js"></script>


    <script src="~/Areas/Web/Common/js/system/menuList.js"></script>
</body>
</html>