﻿@using GeneralFramework.BLL
@using GeneralFramework.ViewModel
@using GeneralFramework.Model
@using Newtonsoft.Json
@{
    Layout = null;

    var emp = ViewData["EmployeeWorkId"] as IEnumerable<Human_EmployeeBase>;
    var empOptions = emp.Select(c =>
    {
        return new Dictionary<string, object>()
                                {
            {"id",c.Id },
            {"workId",c.EmpWorkID }
                                };
    });
}
<!DOCTYPE html>
<html class="app-ui">
<head>
    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <!-- Document title -->
    <title>Profile</title>
    <meta name="description" content="AppUI - Admin Dashboard Template & UI Framework" />
    <meta name="author" content="rustheme" />
    <meta name="robots" content="noindex, nofollow" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="~/Areas/Web/Common/assets/img/favicons/apple-touch-icon.png" />
    <link rel="icon" href="/img/assetsfavicons/favicon.ico" />
    <!-- Google fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,900%7CRoboto+Slab:300,400%7CRoboto+Mono:400" />
    <!-- AppUI CSS stylesheets -->
    <link rel="stylesheet" id="css-font-awesome" href="~/Areas/Web/Common/assets/css/font-awesome.css" />
    <link rel="stylesheet" id="css-ionicons" href="~/Areas/Web/Common/assets/css/ionicons.css" />
    <link rel="stylesheet" id="css-bootstrap" href="~/Areas/Web/Common/assets/css/bootstrap.css" />
    <link rel="stylesheet" id="css-app" href="~/Areas/Web/Common/assets/css/app.css" />
    <link href="~/Areas/Web/Common/style/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" id="css-app-custom" href="~/Areas/Web/Common/assets/css/app-custom.css" />
    <!-- End Stylesheets -->
</head>
<body class="app-ui layout-has-drawer layout-has-fixed-header">
    <div class="container-fluid p-y-md">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block tab-content">
                        <!-- Profile tab 1 -->
                        <div class="tab-pane fade in active" id="profile-tab1">
                            <form class="fieldset">
                                <h4 class="m-t-sm m-b">用户信息创建</h4>
                                <div class="form-group row">
                                    <div class="col-xs-6">
                                        <label for="u_name">登录账号</label>
                                        <input type="text" class="form-control" id="u_name" />
                                    </div>
                                    <div class="col-xs-6">
                                        <label for="u_fullname">真实姓名</label>
                                        <input type="text" class="form-control" id="u_fullname" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-6">
                                        <label for="u_password">登录密码</label>
                                        <input type="text" class="form-control" id="u_password" />
                                    </div>
                                    <div class="col-xs-6">
                                        <label for="u_phone">联系电话</label>
                                        <input type="tel" class="form-control" id="u_phone" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-6">
                                        <label for="u_email">邮箱</label>
                                        <input type="email" class="form-control" id="u_email" />
                                    </div>
                                    <div class="col-xs-6">
                                        <label for="u_workId">工号</label>
                                        <input type="text" class="form-control workIdSelect" id="u_workId" />
                                    </div>
                                </div>
                                @*<div class="form-group row">
                                    <div class="col-xs-6">
                                        <label for="u_depart">所属部门</label>
                                        <input type="text" class="form-control deptSelect" id="u_depart" />
                                    </div>
                                    <div class="col-xs-6">
                                        <label for="u_job">所属岗位</label>
                                        <input type="text" class="form-control jobSelect" id="u_job" />
                                    </div>
                                </div>*@
                               
                               <div class="form-group">
                                   <label for="u_depart">是否锁定</label><br />
                                   <label class="css-input css-radio css-radio-primary m-r-sm">
                                       <input type="radio" name="locked" id="locked" value="true" checked /><span></span> Yes
                                   </label>
                                   <label class="css-input css-radio css-radio-primary">
                                       <input type="radio" name="locked" id="locked" value="false" /><span></span> No
                                   </label>
                               </div>
                                <div class="row narrow-gutter" style="text-align:center;">
                                    <div class="col-xs-6">
                                        <button type="button" class="btn btn-default btn-block">取消</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button type="button" class="btn btn-app btn-block" onclick="addNew()">保存</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                      
                    </div>
                    <!-- .card-block .tab-content -->
                </div>
                <!-- .card -->
            </div>
            <!-- .col-md-8 -->
        </div>
        <!-- .row -->
    </div>
    <!-- AppUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock and App.js -->
    <script src="~/Areas/Web/Common/assets/js/core/jquery.min.js"></script>
    <script src="~/Areas/Web/Common/assets/js/core/bootstrap.min.js"></script>
    <script src="~/Areas/Web/Common/assets/js/core/jquery.slimscroll.min.js"></script>
    <script src="~/Areas/Web/Common/assets/js/core/jquery.scrollLock.min.js"></script>
    <script src="~/Areas/Web/Common/assets/js/core/jquery.placeholder.min.js"></script>
    <script src="~/Areas/Web/Common/assets/js/app.js"></script>
    <script src="~/Areas/Web/Common/assets/js/app-custom.js"></script>
    <script src="~/Areas/Web/Common/jquery/jquery-ui.js"></script>
    <script src="~/Areas/Web/Common/js/Util.js"></script>
    <script>
        var empOptions = @Html.Raw(JsonConvert.SerializeObject(empOptions));
    </script>
    <script src="~/Areas/Web/Common/js/system/userEditor.js"></script>
</body>
</html>